.skills {
  padding: 100px 0px;
}

.skills .skill {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border: 2px solid var(--primary-color);
  padding: 5px 10px;
}
.skills .skill:hover {
  background-color: var(--secondary-color);
}

.skills .skill:hover h4 {
  color: white;
}

.skills .skill h4 {
  margin-left: 10px;
  padding-top: 7px;
  color: #08979c;
}
