.contact {
  padding: 100px 0px;
}

.contact .input-wrapper {
  padding: 15px 0px;
}

.contact .ant-btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.contact .ant-btn-primary:hover {
  background: var(--secondary-color);
  border-color: var(--secondary-color);
}
