@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

:root {
  --primary-color: #09a9af;
  --secondary-color: #13c2c2;
}

* {
  font-family: "Poppins", sans-serif;
  /* overflow-x: hidden; */
}

li {
  list-style: none;
}

.content-intro {
  background-color: #ffffff;
}

.content-skills {
  background-color: rgb(249, 249, 249);
}

.content-projects {
  background-color: #ffffff;
}

.content-contact {
  background-color: rgb(249, 249, 249);
}
.content-footer {
  background-color: #08979c;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: calc(100% - 32px);
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
}
