nav {
  background-color: var(--primary-color);
  position: relative;
}

.overlay {
  z-index: -1;
  display: none;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: linear-gradient(hsl(233, 26%, 24%), transparent);
}

.overlay--d-block {
  display: block;
}

nav div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;
  font-family: "Poppins", sans-serif;
}

.logo h4 {
  color: white;
  letter-spacing: 5px;
  font-size: 18px;
  font-weight: 500;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 35%;
  margin-bottom: 0;
}

/* when scroll in section this class add to section */
.nav-links .active {
  background-color: #07858a;
}

.nav-links a {
  color: white;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 16px;
  padding: 8px;
  border-radius: 8px;
}

.nav-links a:hover {
  background-color: #07858a;
}

.nav-menu {
  z-index: 2;
  background-color: white;
  position: absolute;
  top: 5rem;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 3rem);
}

.menu-icon {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .hide-for-mobile {
    display: none;
  }

  .menu-icon {
    display: block;
  }
}

@media screen and (max-width: 992px) {
  .nav-links {
    width: 45%;
  }
}

.nav-active {
  transform: translateX(0%);
}

/* Todo : animation */
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.has-fade {
  visibility: hidden;
}

.fade-in {
  visibility: visible;
}
