nav {
  background-color: #09a9af;
}

nav div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;
  font-family: "Poppins", sans-serif;
}

.logo h4 {
  color: white;
  letter-spacing: 5px;
  font-size: 18px;
  font-weight: 500;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 35%;
  margin-bottom: 0;
}

.nav-links li {
  list-style: none;
}

/* when scroll in section this class add to section */
.nav-links .active {
  background-color: #07858a;
}

.nav-links a {
  color: white;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 16px;
  padding: 8px;
  border-radius: 8px;
}

.nav-links a:hover {
  background-color: #07858a;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .nav-links {
    position: absolute;
    width: 45%;
    right: 0px;
    top: 8vh;
    height: 92vh;
    background-color: #08979c;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    z-index: 10;
  }

  .menu-icon {
    display: block;
  }
}

@media screen and (max-width: 992px) {
  .nav-links {
    width: 45%;
  }
}

.nav-active {
  transform: translateX(0%);
}

/* Todo : animation */
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
